<!--<div class="container inhalt" id='AdvertiseElements'>-->
    <h2>{{Content_titel}}</h2>
    <p>{{Content}}</p><br/>

    {{#ads}}
    <!-- Left-aligned media object -->
    <div class="media" onclick="toggler('{{AdKey}}');" id="media{{AdKey}}">
        <hr></hr>
        <div class="media-left">
            <img src="http://lorempixel.com/60/60/?{{timestamp}}" class="media-object" style="width:60px"></img>
        </div>
        <div class="media-body">
            <h4 class="media-heading" id="ads-titel{{AdKey}}" data-email="{{email}}" data-name="{{name}}" data-phone="{{phone}}" data-price="{{price}}">{{titel}}</h4>
            <h5 id="ads-subject{{AdKey}}">{{subject}}</h5>
        </div>
        <span id="price{{AdKey}}" data-type="text" data-placement="left"  class="label label-primary">{{price}} </span>
        <div class="pull-right"><h6>{{timestamp}}</h6> </div>
        <div  class="label label-info">{{username}}</div>
    </div>
    {{/ads}}

<!--</div>-->